.text-container {
    display: flex;
    flex-direction: column;
}

#userName {
    display: block; /* Asegura que se muestren en líneas separadas */
    text-align: center; /* Centra el texto */
    margin-right: 15px;
}

#userRole {
    display: block; /* Asegura que se muestren en líneas separadas */
    font-size: 0.8em; /* Tamaño más pequeño */
    color: rgba(128, 128, 128, 0.7); /* Color gris y un poco difuminado */
    text-align: right; /* Alinea a la derecha */
    margin-right: 15px;
}