.input-group .form-control {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group .btn {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-color: #ced4da;
    color: #495057;
    background-color: #fff;
}
.input-group .btn:hover {
    background-color: #e9ecef;
}